.menu-links{
    float:right;
    margin: 10px 10px;
}

.menu-link{
    padding: 25px 5px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #A8AEBF;

}

.active-link{
    color: #FFFFFF;
}