
:root {
  --text-primary: #6b6375;
  --bg: #141830;
  --yellow: #FFAD49;
  
  --shadow:rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: Poppins, sans-serif;
  --heading: Poppins, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text-primary);
  background: var(--bg);
  box-sizing: border-box;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}